.font-saira{
    font-family: "Saira", serif;
}

.font-lexend{
    font-family: "Lexend", sans-serif;
}

.font-museo{
    font-family: "MuseoModerno", sans-serif;
}

.font-orbiton{
    font-family: "Orbitron", sans-serif;
}