.introducao-bg{
    background-color: #D40202;
    height: 600px;
}

.introducao-container{
    max-width: 1000px;
    margin: 0 auto;
}

.introducao-container ul{
    padding: 100px 40px;
}

.intrucao-item1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    justify-content: center;
    align-items: center;
    background-color: #D40202;
    border-radius: 16px;
    box-shadow: -1px -1px 12px 2px #00000060;
}

.intrucao-item1 h1{
    text-align: center;
    padding: 10px;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 16px;
}

.introducao-container p{
    text-align: center;
    padding: 10px;
    margin-bottom: 40px;
}

.introducao-container img{
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;

}

.introducao-div{
    text-align: center;
}


@media (max-width: 840px){
    .intrucao-item1{
        grid-template-columns: 1fr;
    
}