.introducao-bg{
    background-color: #D40202;
    padding-bottom: 100px;
}

.introducao-container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 70px 20px 0 20px;
}

.introducao-conteudo{
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 1px solid rgba(5, 5, 5, 0.473);
    box-shadow: 0px 1px 14px 3px #000000b5;
    border-radius: 16px;
    justify-items: center;
    align-items: center;
}

.introducao-texto{
    justify-items: center;
}

.introducao-texto h1{
    text-align: center;
    padding: 10px;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 16px;
}

.introducao-texto p{
    font-size: 1.1rem;
    text-align: center;
    padding: 10px;
    margin-bottom: 40px;
}

.introducao-conteudo img{
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
}


@media (max-width:865px){
    .introducao-conteudo{
        grid-template-columns: 1fr;
    }

    .introducao-container {
        max-width: 541px;
    }

    .introducao-texto{
        padding: 40px;
        margin-bottom: 40px;
    }

    .introducao-conteudo img{
        border-top-right-radius: 0px;
        border-bottom-left-radius: 16px;
        border-bottom-right-radius: 16px;
    }

}