.propaganda-lista-1 li{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
    align-items: center;
    margin-bottom: 120px;
}

.propaganda-lista-1 .propaganda-texto h1{
    font-size: 1.8rem;
    font-weight: 500;
    margin-bottom: 16px;
    padding: 10px;
}

.propaganda-lista-1 .propaganda-texto p{
    font-size: 1.1rem;
    width: 40ch;
    margin-bottom: 40px;
    padding: 10px;
}

.propaganda-lista-1 video{
    border-top-right-radius: 26px;
    border-bottom-right-radius: 26px;
    max-width: 100%;
}

@media (max-width:1210px){
    .propaganda-lista-1 .propaganda-texto p{
        width: 25ch;
    }
}

@media (max-width:1058px){
    .propaganda-lista-1 li{
        grid-template-columns: 1fr;
        gap: 20px;
        justify-items: center;
        margin-bottom: 40px;
    } 

    .propaganda-texto {
        grid-row: 1;
    }

    .propaganda-lista-1 video{
        border-radius: 26px;
        width: 640px;
    }

    .propaganda-lista-1 .propaganda-texto h1{
        margin-bottom: 0px;
    }
    
    .propaganda-lista-1 .propaganda-texto p{
        width: 40ch;
    }
}

@media (max-width:760px){
    .propaganda-lista-1 video{
        width: 540px;
    }
}

@media (max-width:660px){
    .propaganda-lista-1 video{
        width: 440px;
    }
}

@media (max-width:520px){
    .propaganda-lista-1 video{
        width: 380px;
    }

    .propaganda-lista-1 .propaganda-texto p{
        width: 30ch;
    }
}

@media (max-width:470px){
    .propaganda-lista-1     video{
        width: 360px;
    }
}

/* PROPAGANDA LISTA 2 */
.propaganda-lista-2 li{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
    align-items: center;
    margin-bottom: 120px;
}


.propaganda-lista-2 .propaganda-texto h1{
    font-size: 1.8rem;
    font-weight: 500;
    margin-bottom: 16px;
    padding: 10px;
}

.propaganda-lista-2 .propaganda-texto p{
    font-size: 1.1rem;
    width: 40ch;
    margin-bottom: 40px;
    padding: 10px;
}

.propaganda-lista-2 video{
    border-top-left-radius: 26px;
    border-bottom-left-radius: 26px;
    max-width: 100%;
    display: block;
    justify-self: right;
}

@media (max-width:1210px){
    .propaganda-lista-2 .propaganda-texto p{
        width: 25ch;
    }
}

@media (max-width:1058px){
    .propaganda-lista-2 li{
        grid-template-columns: 1fr;
        gap: 20px;
        justify-items: center;
    } 

    .propaganda-lista-2 video{
        border-radius: 26px;
        width: 640px;
    }

    .propaganda-lista-2 .propaganda-texto h1{
        margin-bottom: 0px;
    }
    
    .propaganda-lista-2 .propaganda-texto p{
        width: 40ch;
    }
}

@media (max-width:760px){
    .propaganda-lista-2 video{
        width: 540px;
    }
}

@media (max-width:660px){
    .propaganda-lista-2 video{
        width: 440px;
    }
}

@media (max-width:520px){
    .propaganda-lista-2 video{
        width: 380px;
    }

    .propaganda-lista-2 .propaganda-texto p{
        width: 30ch;
    }
}

@media (max-width:470px){
    .propaganda-lista-2  video{
        width: 360px;
    }
}