.propaganda-lista li{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
    align-items: center;
}

.propaganda-texto h1{
    font-size: 1.8rem;
    font-weight: 500;
    margin-bottom: 16px;
    padding: 10px;
}

.propaganda-texto p{
    font-size: 1.1rem;
    width: 40ch;
    margin-bottom: 40px;
    padding: 10px;
}

video{
    border-top-right-radius: 26px;
    border-bottom-right-radius: 26px;
    width: 640px;
}

@media (max-width:1058px){
    .propaganda-lista li{
        grid-template-columns: 1fr;
        gap: 20px;
        justify-items: center;
    } 

    video{
        border-radius: 26px;
        width: 640px;
    }

    .propaganda-texto h1{
        margin-bottom: 0px;
    }
    
}

@media (max-width:760px){
    video{
        width: 540px;
    }
}

@media (max-width:660px){
    video{
        width: 440px;
    }
}

@media (max-width:520px){
    video{
        width: 380px;
    }

    .propaganda-texto p{
        width: 30ch;
    }
}

@media (max-width:470px){
    video{
        width: 360px;
    }
}