.contato-bg{
    background: url(../../images/fundo-contato.jpg);
    background-position: center left;
    background-size: cover;
}

.contato-conteudo{
    height: 280px;
}

.contato-conteudo h1{
    font-size: 3rem;
    font-weight: 500;
    text-transform: uppercase;
    text-shadow: 1px 1px 5px #140d0d9f;
}

.contato-conteudo h2{
    font-size: 5rem;
    font-weight: 600;
    letter-spacing: 12px;
    text-transform: uppercase;
    text-shadow: 1px 1px 5px #0000009f;
    position: relative;
}


@media (max-width:830px){
    .contato-conteudo h3{
        font-size: 5rem;
        font-weight: 600;
        letter-spacing: 12px;
        text-transform: uppercase;
        position: absolute;
        top: 330px;
        left: 195px;
    }
}

@media (max-width:680px){
    .contato-conteudo h2 {
        font-size: 4.5rem;
    }

    .contato-conteudo h3{
        font-size: 4rem;
        font-weight: 600;
        letter-spacing: 12px;
        text-transform: uppercase;
        position: absolute;
        top: 330px;
        left: 125px;
    }
}


@media (max-width:540px){
    .contato-conteudo h2 {
        font-size: 4.5rem;
    }

    .contato-conteudo h3{
        top: 330px;
        left: 60px;
    }
}

@media (max-width:500px){
    .contato-conteudo h2 {
        font-size: 3rem;
    }

    .contato-conteudo h3{
        font-size: 3rem;
        top: 330px;
        left: 100px;
    }
}

@media (max-width:423px){
    .contato-conteudo h3{
        top: 330px;
        left: 70px;
    }
}