.contato-bg{
    background: url(../../images/fundo-contato.jpg);
    background-position: center left;
    background-size: cover;
}

.contato-conteudo{
    height: 280px;
}

.contato-conteudo h1{
    font-size: 3rem;
    font-weight: 500;
    text-transform: uppercase;
    text-shadow: 1px 1px 5px #140d0d9f;
}

.contato-conteudo h2{
    font-size: 5rem;
    font-weight: 600;
    letter-spacing: 12px;
    text-transform: uppercase;
    text-shadow: 1px 1px 5px #0000009f;
    position: relative;
}


@media (max-width:830px){
    .contato-conteudo h2{
        font-size: 5rem;
    }
}

@media (max-width:745px){
    .contato-conteudo h2{
        font-size: 4rem;
    }
}


@media (max-width:540px){
    .contato-conteudo h2{
        font-size: 3.5rem;
    }
}

@media (max-width:500px){
    .contato-conteudo h2{
        font-size: 3rem;
    }
}

@media (max-width:450px){
    .contato-conteudo h2{
        font-size: 2.8rem;
    }
}
