.header-bg{
    background-color: var(--cor-1);
}

.header-conteudo{
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header-img{
    z-index: 555;
}

.header-menu{
    z-index: 555;
}

.header-menu ul{
    display: flex;
    gap: 40px;
}


.header-menu a:hover{
    color: #FD1E23;
}